@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&display=swap');
:root{
    --azul_roxo:#040471;
    --branquitude_azulada:#E1E1FA;
    --azul_branco:#066899;
}
body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, var(--azul_roxo), var(--branquitude_azulada), var(--azul_branco));
    color: var(--branquitude_azulada);
    font-family: "Lato", serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 50%;
    height: auto;
    display: flex;
    background-color:var(--azul_branco);
    border-radius: 1rem;
}
.container__signup{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    align-items:center;
    gap: 2rem;
    padding: 16px ;
}
.signup-tittle{
    font-size: 30px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px var(--azul_branco);
}
.div_para_as_inputs{
    display: flex;
    width: 80%;
    gap: 2px;
    align-items: center;
}
.signup-input{
    width: 90%;
    background-color: transparent;
    color: var(--branquitude_azulada);
    outline: none;
    padding:12px 20px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid var(--branquitude_azulada);
    transition: 500ms linear;
}
.signup-input:focus{
    border-bottom: 3px solid var(--azul_roxo);
    width: 95%;
    margin-bottom: 10px;
}
.signup-input::placeholder{
    color: var(--branquitude_azulada);
}
.signup-button{
    width: 60%;
    padding: 12px 20px;
    color: var(--azul_roxo);
    border-radius: 1rem;
    border: 0;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 5px 5px 5px var(--azul_roxo);
}
.signup-button:hover{
    border: 2px solid var(--branquitude_azulada);
    color: var(--branquitude_azulada);
    background-color: transparent;
}
.signup-button:active{
    transform: translate(5px, 5px);
    box-shadow: none;
}
.container__change_login{
    width: 50%;
    height: auto;
    background-color: var(--branquitude_azulada);
    color: var(--azul_roxo);
    display: flex;
    flex-direction: column;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    gap: 2rem;
    padding: 16px ;
}
.login-tittle{
    font-size: 30px;
    letter-spacing: 2px;
}
.login-text{
    font-size: 18px;
}
.login-button {
    background: linear-gradient(to right, var(--azul_roxo), #066899, #0a82be, #069ae4);
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.login-button:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #066899,#0a82be, #069ae4, var(--azul_roxo));
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
    width: 210px;
    height: 60px;
}

